{% extends 'master.html' %}

{% block title %}
  Admin Dashboard
{% endblock %}

{% block content %}
    <h2>All Packages</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>User</th>
                <th>Status</th>
                <th>Pickup Code</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.tracking_number }}</td>
                    <td>{{ package.user.username }}</td>
                    <td>{{ package.get_status_display }}</td>
                    <td>{{ package.pickup_code }}</td>
                    <td>{{ package.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

