{% extends 'master.html' %}

{% block content %}
  <h2>My Packages</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Tracking Number</th>
        <th>Status</th>
        <th>Pickup Code</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for package in packages %}
        <tr>
          <td>{{ package.tracking_number }}</td>
          <td>{{ package.get_status_display }}</td>
          <td>{{ package.pickup_code }}</td>
          <td>{{ package.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

