{% extends 'master.html' %}

{% block content %}
<form method="POST">
  {% csrf_token %}
</form>
  <h2>User Dashboard</h2>

  <h3>Your Packages</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Tracking Number</th>
        <th>Status</th>
        <th>Pickup Code</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for package in packages %}
        <tr>
          <td>{{ package.tracking_number }}</td>
          <td>{{ package.get_status_display }}</td>
          <td>{{ package.pickup_code }}</td>
          <td>{{ package.created_at }}</td>
          <td>
            <a href="{% url 'package_history' package.tracking_number %}">History</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
